* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body {
  background: #00ff73;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .login-box {
  background: #fff;
  padding: 40px;
  width: 350px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(255, 0, 195, 0.1);
  text-align: center;
  border: 1px solid #e0e0e0;
 }
 .login-box h2 {
  margin-bottom: 25px;
  color: #2344ff;
 }
 .input-group {
  position: relative;
  margin-bottom: 30px;
 }
 .input-group input {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
 }
 .input-group label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  font-size: 14px;
  color: #666;
}
 button {
  width: 100%;
  padding: 12px;
  background: #28a745;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 }
 button:hover {
  background: #218838;
 }
 .signup {
  margin-top: 15px;
  font-size: 14px;
 }
 .signup a {
  color: #28a745;
  text-decoration: none;
 }